<body>
  <br><br>
  <div style="text-align: center;">
    <img src="http://www.gigaglitters.com/created/dSIl1y5piK.gif" width="467" height="85" alt="larvae lounge">
    <p><span class="bubble">welcome to the larvae lounge</span></p>
  </div>

  <div style="display: flex; align-items: center; justify-content: center; gap: 30px;">
    <img src="buge1.png" width="200">
    <p>
      <a href="kafka.html">kafka</a><br><br>
      <a href="louisianapurchase.html">louisiana purchase</a><br><br>
      <a href="nathanhale.html">nathan hale</a><br><br>
      <a href="riffledwellingmacroinvertebrates.html">riffle-dwelling macroinvertebrates</a><br><br>
      <a href="kate.html">kate</a><br><br>
      <a href="isabel.html">isabel</a><br><br>
      <a href="raccoons.html">raccoons</a><br><br>
    </p>
  </div>
</body>